.custom-carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: calc(100% - 90px);
  height: 200px;
  padding: 0 45px;
}

.carousel-wrapper {
  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.carousel-section {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
  gap: 16px;
  background-color: blue;
}

.custom-carousel-item {
  box-sizing: border-box;
  background-color: red;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-carousel-navigation-previous {
  background: transparent;
  border: none;
  background-color: green;
  height: 100%;
  width: 45px;
  left: 0;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.custom-carousel-navigation-next {
  background: transparent;
  border: none;
  background-color: green;
  height: 100%;
  width: 45px;
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.carousel-arrow {
  font-size: 2rem;
}

.modal-wrapper {
  position: absolute;
  z-index: 3; 
}

.modal {
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;

}

.modal.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}


