<div class="custom-carousel">
  <button
    *ngIf="totalSections > 1"
    class="custom-carousel-navigation-previous"
    (click)="scrollToSection(currentSection - 1)"
  >
    &#9664;
  </button>
  <div class="carousel-wrapper">
    <div
      *ngFor="let section of sections; let sectionIndex = index"
      [id]="'section-' + sectionIndex"
      class="carousel-section"
    >
    <div
    *ngFor="let slide of section; let i = index"
    class="custom-carousel-item"
    [ngStyle]="{
      flex:
        '0 0 calc((100% / ' +
        slidesPerView +
        ') - ' +
        (16 * (slidesPerView - 1)) / slidesPerView +
        'px)',
        background: 'url('+slide.image+')',
        backgroundRepeat: 'no-repeat',
        backgroundSize: 'cover',
        backgroundPosition: 'center center'
    }"
    (mouseenter)="showModal($event, slide)"
  >
        Slide {{ i + sectionIndex * slidesPerView + 1 }}
      </div>
    </div>
  </div>
  <button
    *ngIf="totalSections > 1"
    class="custom-carousel-navigation-next"
    (click)="scrollToSection(currentSection + 1)"
  >
    &#9654;
  </button>
  </div>


<div id="modal-container"     
[ngStyle]="{'top.px': modalPosition.top, 'left.px': modalPosition.left}"
(mouseleave)="hideModalIfNotHovering($event)"
[ngClass]="{'show': modalVisible, 'hide': modalHidden}" >
  <div class="modal-background">
    <div class="modal">
      <div>I'm a Modal</div>
      <p>Hear me roar.</p>
      <p>{{selectedSlide? selectedSlide.title  : ''}}</p>
    </div>
  </div>
</div>
