<div class="custom-carousel" >
  <button *ngIf="totalSections > 1" class="custom-carousel-navigation-previous"
    (click)="scrollToSection(currentSection - 1)">
    &#9664;
  </button>
  <div class="carousel-wrapper">
    <div *ngFor="let section of sections; let sectionIndex = index" [id]="'section-' + sectionIndex"
      class="carousel-section">
      <div *ngFor="let slide of section; let i = index" class="custom-carousel-item" [ngStyle]="{
      flex:
        '0 0 calc((100% / ' +
        slidesPerView +
        ') - ' +
        (16 * (slidesPerView - 1)) / slidesPerView +
        'px)',
        background: 'url('+slide.image+')',
        backgroundRepeat: 'no-repeat',
        backgroundSize: 'cover',
        backgroundPosition: 'center center'
    }" (mouseenter)="showModal($event, slide)">
      </div>
    </div>
  </div>
  <button *ngIf="totalSections > 1" class="custom-carousel-navigation-next"
    (click)="scrollToSection(currentSection + 1)">
    &#9654;
  </button>

  <div id="modal-container" [ngStyle]="{
    'top.px': 0, 
    'left.px': modalPosition.left, 
    'width.px': modalSize.width, 
    'height.px': modalSize.height
  }" (mouseleave)="hideModal($event)">
    <div class="modal-content" [ngStyle]="{
        display: 'grid',
        height: '100%',
        gridTemplateRows: modalSize.height + 'px auto'
      }">
      <div class="modal-content-image" [ngStyle]="
        {
          backgroundImage: 'url('+selectedSlide?.image+')',
          backgroundRepeat: 'no-repeat',
          backgroundSize: 'cover',
          backgroundPosition: 'center center',
        }">
      </div>
      <div style="background-color: red;">
        {{selectedSlide?.title}}
      </div>
    </div>
  </div>

</div>




<!--


-->