<div class="custom-carousel">
  <button
    *ngIf="totalSections > 1"
    class="custom-carousel-navigation-previous"
    (click)="scrollToSection(currentSection - 1)"
  >
    &#9664;
  </button>
  <div class="carousel-wrapper">
    <div
      *ngFor="let section of sections; let sectionIndex = index"
      [id]="'section-' + sectionIndex"
      class="carousel-section"
    >
      <div
        *ngFor="let slide of section; let i = index"
        class="custom-carousel-item"
        [ngStyle]="{
          flex:
            '0 0 calc((100% / ' +
            slidesPerView +
            ') - ' +
            (16 * (slidesPerView - 1)) / slidesPerView +
            'px)'
        }"
        (mouseenter)="showModal($event, slide)"
        (mouseleave)="hideModal()"
      >
        Slide {{ i + sectionIndex * slidesPerView + 1 }}
      </div>
    </div>
  </div>
  <button
    *ngIf="totalSections > 1"
    class="custom-carousel-navigation-next"
    (click)="scrollToSection(currentSection + 1)"
  >
    &#9654;
  </button>

  <div
    class="modal"
    *ngIf="modalVisible"
    [ngStyle]="{'top.px': modalPosition.top, 'left.px': modalPosition.left}"
  >
    <div class="modal-content">
      asdasd
    </div>
  </div>
</div>
